* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
  color: #FFFFFF;
}
a:hover {
  transform: scale(1.1)
}


ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #FFFFFF;
  background-color: rgb(152, 211, 243);
} 

.wrapper {
  width: 95%;
  margin: 0 auto;
}

.header,
.footer {
  height:70px;
  overflow: hidden;
  background-color: rgb(60, 65, 107)
}


.header__wrapper,
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav__cont {
  display: flex;
  justify-content: space-between;
}

.nav__item {
  padding: 10px 20px 10px 0;
  font-size: 25px;
}

.button-log {
  width: 150px;
  height: 40px;
  padding: 10px 20px;
  font-size: 18px;
}

.main {
  flex: auto;
}

.section__name {
  height: 90vh;
  background-image: url('../../assets/niadi26/18124329_xl.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.game {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-image: url('../../assets/niadi26/5459272-games-games-icon-circle.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.buttons-wrapper {
  width: 400px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color:rgb(217, 237, 255);
  -webkit-box-shadow: 0px 0px 30px 5px rgba(25, 67, 99, 0.3);
  -moz-box-shadow: 0px 0px 30px 5px rgba(25, 67, 99, 0.3);
  box-shadow: 0px 0px 30px 5px rgba(25, 67, 99, 0.3);
}

.glossary__cont {
  height: 64vh;
  display: flex;
  margin-top: 10px;
}

.glossary__chapters {
  flex: 0 0 100px;
  background-color: rgb(26, 15, 90);
}

.glossary__pages {
  flex: auto;
}

.glossary__worlds {
  /*min-height: 54vh;
  overflow-y: scroll; */
  -webkit-box-shadow: 0px 5px 10px 2px rgba(25, 67, 99, 0.2) inset;
  -moz-box-shadow: 0px 5px 10px 2px rgba(25, 67, 99, 0.2) inset;
  box-shadow: 0px 5px 10px 2px rgba(25, 67, 99, 0.2) inset;
}