* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
  color: #FFFFFF;
}
a:hover {
  transform: scale(1.1)
}


ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

.weidth {
  font-size: 19px;
  font-weight: 600;
  color: rgb(151, 4, 4);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #FFFFFF;
  background-color: rgb(152, 211, 243);
} 

h1 {
  font-size: 80px;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #000000;
  padding-top: 150px;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

.header,
.footer {
  height:70px;
  overflow: hidden;
  background-color: rgb(60, 65, 107)
}


.header__wrapper,
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.footer__wrapper {
  padding: 25px;
  text-transform: uppercase;
}

.nav__cont {
  display: flex;
  justify-content: space-between;
}

.nav__item {
  padding: 10px 20px 10px 0;
  font-size: 23px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 1s;
}

@media (max-width: 750px){
  .nav__item {
    display: none;
  }
}

.nav__item:after,
.menu__item::after {
    display: block;
    position: relative;
    left: 0;
    width: 0;
    height: 3px;
    background-color: rgb(255, 255, 255);
    content: "";
    transition: width 0.8s ease-out;
}
.nav__item:hover:after,
.menu__item:hover::after {
  width: 100%
}

.button-log {
  width: 150px;
  height: 40px;
  padding: 10px 20px;
  font-size: 18px;
  transition: 1.5s;
  border: 2px solid #000000
}

.button-log:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 15px 5px rgba(240, 244, 247);
  -moz-box-shadow: 0px 0px 15px 5px rgba(240, 244, 247);
  box-shadow: 0px 0px 15px 5px rgba(240, 244, 247);
}

.main {
  flex: auto;
}

.section__name {
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section__wrapper{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 750px) {
  .section__wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.section__about{
  border: 10px solid #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../assets/niadi26/krasivie-foni-35.jpg');
}
.section__title {
  font-size: 35px;
  text-align: center;
  margin: 15px 0;
  text-transform: uppercase;
}

.section__item {
  flex:auto;
  margin: 20px;
  padding: 15px;
  max-width: 500px;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px;
  background-color: rgba(255, 255, 255, 0.809);
  color: #000;
}
.section__txt {
  font-family: 'Festive', cursive;
  margin-bottom: 30px;
  font-size: 20px;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.member__photo {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.member__link {
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
  position: relative;
  color: #000;
}

.member__link::before{
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('../../assets/niadi26/github.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: -25px;
}

.member__role {
  color: rgb(151, 4, 4);
  opacity: 0.8;
  margin-bottom: 10px;
}

.button-main {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s;
}

.button-main:hover {
  transform: scale(1.2);
  transform: rotate(360deg);
}

.buttons-wrapper {
  position: relative;
  width: 400px;
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  padding: 5px;
  border-radius: 5px;
  background-color:rgb(217, 237, 255);
  -webkit-box-shadow: 0px 0px 30px 5px rgba(25, 67, 99, 0.3);
  -moz-box-shadow: 0px 0px 30px 5px rgba(25, 67, 99, 0.3);
  box-shadow: 0px 0px 30px 5px rgba(25, 67, 99, 0.3);
}

.glossary__cont {
  min-height: 54.5vh;
  display: flex;
}

.glossary__settings {
  flex: 0 0 150px;
  background-color: rgb(60, 65, 107);
  position: relative;
}

.groups_flex {
  position: sticky;
  top: 20px;
  transition: all 0.2s ease 0s;
}

.glossary__group {
  width: 100%;
  height: 45px;
  margin-top: 5px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: #000;
  padding: 5px;
  transition: 1s;
}

.glossary__group:hover {
  transform: translateX(15%);
}

.group_active {
  transform: translateX(15%);
}

.glossary__pages {
  flex: auto;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  padding: 25px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(25, 67, 99, 0.2) inset;
  -moz-box-shadow: 0px 5px 10px 2px rgba(25, 67, 99, 0.2) inset;
  box-shadow: 0px 5px 10px 2px rgba(25, 67, 99, 0.2) inset;
}
.glossary__pages-learned {
  background-color:rgba(0, 0, 0, 0.282);
}

.glossary__word {
  position: relative;
  overflow: hidden;
  flex: 1 0 450px;
  display: flex;
  align-items: center;
  width: 49%;
  height: 450px;
  padding: 12px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #000;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(25, 67, 99, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(25, 67, 99, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(25, 67, 99, 0.2);
}

.word__img {
  width: 40%;
  height: 55%;
  object-fit: cover;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(25, 67, 99, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(25, 67, 99, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(25, 67, 99, 0.2);
}

.word__decription {
  width: 100%;
  height: 90%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.word__main {
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-bottom: 5px;
}

.main__text {
  font-size: 30px;
  font-weight: 600;
}

.ru__text {
  opacity: 0.5;
}

.button-audio {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url('../../assets/niadi26/audio.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.word__buttons {
  padding: 10px 0;
}

.hidden {
  visibility: hidden;
}

.button-word {
  width: 100px;
  height: 40px;
  position: relative;
  margin-right: 20px;
  z-index: 5;
  color: #232323;
  background: transparent;
  border: 1px solid #232323;
  font-size: 14px;
  letter-spacing: .2em;
  padding: 7px 4px;
  transition: .2s ease-in-out;
}

.button-word::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  background-color: #303e4752;
  z-index: -1;
  transition: .25s ease;
  transform: translate(0, 0);
}

.button-word:hover:before {
    transform: translate(4px, 4px);
}

.difficult-flag {
  letter-spacing: .2em;
  width: 0;
  height: 50px;
  position: absolute;
  overflow: hidden;
  top: 10px;
  left: -2px;
  border: 1px solid #000;
  transition: width 0.5s ease-out;
  color: #000;
  text-align: center;
  padding: 12px 0;
  opacity: 0.8;
}

.dificult-easy {
  width: 150px;
  background-color: rgba(45, 0, 248, 0.308);
}
.dificult-hard {
  width: 150px;
  background-color: rgba(252, 3, 3, 0.349);
}

.word__meaning {
  flex: auto;
  display: flex;
  flex-direction: column;
}
.word__example {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.button-glossary {
  width: 140px;
  height: 70px;
  border-radius: 10px;
  margin: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s;
  border: 1px solid #000000;
}

.button-glossary:hover {
  transform: scale(1.1);
}

.pagination__wrapper {
  width: 90px;
  height: 50px;
  margin: 20px auto;
  padding: 5px;
}

.pagination__text {
  text-align: center;
}

.button-page {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 2px;
  background-image: url('../../assets/niadi26/arrow.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 80ms;
}

.button-page:active {
  transform: scale(1.1);
}

.button-page_prev {
  transform: rotate(90deg);

}

.button-page_next {
  transform: rotate(-90deg);
}


@media(max-width:750px) {
  .glossary__settings {
    flex: 0 0 100px;
  }
  .glossary__pages {
    padding: 5px;
  }
}

@media(max-width:600px) {
  .glossary__cont {
    flex-direction: column;
  }
  .glossary__settings {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .glossary__word {
    flex-direction: column;
    flex: 1 0 270px;
    height: 500px;
  }
  .word__img {
    width: 80%;
  }
  .buttons-wrapper {
    width: 60%;
  }
  .button-glossary {
    width: 100px;
    height: 60px;
  } 
}

.games__wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 30px 0;
}

.games__cont {
  width: 40%;
  max-width: 400px;
  border: 1px solid rgb(157, 157, 157);
  background-color:rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
}

.games__img {
  width: 90%;
  max-width: 250px;
  height: 140px;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0px 0px 10px 7px rgba(35, 255, 32, 0.2);
  -moz-box-shadow: 0px 0px 10px 7px rgba(35, 255, 32, 0.2);
  box-shadow: 0px 0px 10px 7px rgba(35, 255, 32, 0.2);
}

.games__title {
  margin-top: 10px;
  color: #000;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.games__text {
  width: 100%;
  min-height: 80px;
  margin-top: 10px;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  color: #000;
}

.button-play {
  display: block;
  width: 100px;
  height: 40px;
  margin: 20px auto;
  background-color: rgb(106, 243, 64);
  border: 1px solid rgb(9, 131, 9);
}

.play_text {
  position: absolute;
  width: 120px;
  height: 25px;
  left: -60px;
  background-color:rgb(8, 255, 8);
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  transform: rotate(335deg);
}
.not-play_text {
  width: 150px;
  left: -70px;
  z-index: 5;
  background-color:rgb(9, 131, 9);
  transform: rotate(351deg);
}
.message-wrapper {
  position: relative;
  padding: 20px;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.menu-btn {
  display: none;
	width: 50px;
	height: 50px;
	position: relative;
	z-index:2;
	overflow: hidden;
}

@media (max-width: 750px){
  .menu-btn {
    display: block;
  }
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

.menu {
	position: absolute;
	top: 10vh;
	left: 0;
	width: 220px;
	height: 260px;
	padding: 15px;
  background-color: rgb(60, 65, 107);
	transform: translateX(-100%);
	transition: transform 0.5s; 
  z-index: 100;
  font-size: 25px;
  text-transform: uppercase;
}

.menu__item {
  width: 100%;
  height: 60px;
}

.menu.active {
	transform: translateX(0);
}

.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}


@media (max-width:400px) {
  .wrapper {
    width: 100%;
  }
  h1 {
    font-size: 60px;
  }
  .button-main {
    width: 110px;
    height: 110px;
  }
  .section__txt {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .footer__wrapper {
    padding: 30px 5px;
    font-size: 13px;
  }
}